<!DOCTYPE html>
<html>
<head>
  <title>PicLuv</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="top-bar-container" class="contain-to-grid fixed small-12 medium-12 large-12 columns">
    <nav class="top-bar" id="top-bar">
      <ul class="title-area small-2 large-2 columns">
        <li class="name">
          <h1><a href="/">PicLuv</a></h1>
        </li>
      </ul>

      <section class="top-bar-section" id="top-bar-section">
        <ul class="right">
          <%- if current_user -%>
            <li class="name">
              <a href="#jump_to1">Skip</a>
            </li>

            <li class="name"><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
          <%- else -%>
            <li class="name"><%= link_to 'Sign Up', new_user_registration_path %></li>
            <li class="name"><%= link_to 'Sign In', new_user_session_path %></li>
          <%- end -%>
        </ul>
      </section>
    </nav>
  </div>

  <%- flash.each do |key, value| -%>
    <div class="flash flash-<%= key %>">
      <%= value %>
    </div>
  <%- end -%>

  <div id="content-container">
    <%= yield %>
  </div>

  <div class="footer">
    <div id="fb-root" class="small-12 medium-12 large-12 columns">
      <div
        class="fb-like"
        data-share="true"
        data-width="450"
        data-show-faces="true">
      </div>

      <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
      </fb:login-button>

      <div id="status">
      </div>
    </div>
  </div>


  <%= javascript_include_tag 'application' %>
  <%= yield :extra_footer %>
</body>
</html>
